@import 'tailwindcss';
/* tailwind later */

body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    #000000 0%,
    #000000 33.33%,
    #dd0000 33.33%,
    #dd0000 66.66%,
    #ffcc00 66.66%,
    #ffcc00 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* CONVERT TO TAILWIND */


.card {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card.flipped {
  background-color: chartreuse;
}
