@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
/* tailwind later */

body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    #000000 0%,
    #000000 33.33%,
    #dd0000 33.33%,
    #dd0000 66.66%,
    #ffcc00 66.66%,
    #ffcc00 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@theme {
  --font-body: "Roboto", sans-serif; 
  --font-title: "Manufacturing Consent", "Garamond", serif
}

